---
import { Image } from "astro:assets";

import { getCollection } from "astro:content";

const educationCollection = await getCollection("education");

const education = educationCollection.sort((a, b) => {
  return b.data.year - a.data.year;
});
---

<div class="mx-auto container-custom my-8">
  <div class="flex flex-wrap justify-around gap-8 max-md:px-4">
    {
      education.map((item) => (
        <article class="bg-teal-500 p-6 rounded-lg shadow-md text-white w-xs">
          {item.data.image && (
            <Image
              src={item.data.image}
              alt={item.data.title}
              class="rounded-lg mb-4 md:block hidden"
              width={300}
              height={200}
            />
          )}
          <footer>
            <h2 class="text-xl font-bold mb-2">{item.data.title}</h2>
            <p class="text-gray-100 mb-4">
              {item.data.year} | {item.data.school}
            </p>
          </footer>
        </article>
      ))
    }
  </div>
</div>
